.bar {
	background-color: #454545;
	height: 60px;
	position: absolute;
	top: 0;
	margin-left: -20px;
	width: 100%;
}

.searchAction {
	z-index: 1;
}

.search {
	background-color: #313131;
	color: #D9D9D9;
	height: 75%;
	width: 40%;
	border: none;
	border-radius: 5px;
	margin: 8px;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

.sort {
	background-color: #313131;
	color: #D9D9D9;
}